<h4>{{name}}'s Dashboard</h4>

<div id='myBlogsList' class='visible'>

  {{#each blogs as |blog|}}
    <a href='/dashboard/blog/{{blog.id}}'><div class='card myBlogs'>
        <div class='card-header'>
          <p>
            {{blog.title}}

            Created on:
            {{formatDate blog.date_created}}
          </p>
        </div>
      </div>
    </a>

  {{/each}}

</div>

<button
  type='button'
  class='btn btn-secondary btn-lg'
  id='newPostButton'
  href='/dashboard/new'
>+ New Post</button>

<script src='/js/dashboard.js'></script>