<h4>{{user.name}}'s Dashboard</h4>

<div id='blogPostForm'>
  <div class='card'>
    <div class='card-header'>Update A Post</div>
    <div class="'card-body">
      <form class='post-form'>
        <div class='mb-3 form-group'>
          <label for='title' class='form-label'>Title</label>
          <input type='text' class='form-input' id='title' value='{{title}}' />

        </div>
        <div class='mb-3'>
          <label for='content' class='form-label'>Content</label>
          <textarea class='form-input' id='content' name='content'>

            {{content}}</textarea>
        </div>
        <div>
          <button
            type='button'
            class='btn btn-primary'
            id='updateButton'
          >Update</button>
          <button
            type='button'
            class='btn btn-primary'
            id='deletePostButton'
          >Delete</button>

        </div>
      </form>
    </div>

  </div>
</div>

<script src='/js/modifydashboard.js'></script>